/cmake-build-debug/.ninja_deps
/cmake-build-debug/.ninja_log
/cmake-build-debug/CMakeFiles/3.21.1/CompilerIdC/a.out
/cmake-build-debug/CMakeFiles/3.21.1/CompilerIdCXX/a.out
/cmake-build-debug/after.gif
/cmake-build-debug/build.ninja
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-9aa522b3a23d43e35ac5.json
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/clion-log.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/CMakeFiles/3.21.1/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.21.1/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.21.1/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.21.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.21.1/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.21.1/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-f3e3e0e0fda7174f2aa5.json
/cmake-build-debug/CMakeFiles/CMakeOutput.log
/cmake-build-debug/CMakeFiles/3.21.1/CMakeSystem.cmake
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-e9fe7e7dd9ec55560e25.json
/cmake-build-debug/CMakeFiles/GifEncoderDecoder.dir/lib/dgif_lib.c.o
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/cmake-build-debug/CMakeFiles/GifEncoderDecoder.dir/lib/egif_lib.c.o
/cmake-build-debug/CMakeFiles/GifEncoderDecoder.dir/lib/gif_err.c.o
/cmake-build-debug/CMakeFiles/GifEncoderDecoder.dir/lib/gif_font.c.o
/cmake-build-debug/CMakeFiles/GifEncoderDecoder.dir/lib/gif_hash.c.o
/cmake-build-debug/CMakeFiles/GifEncoderDecoder.dir/lib/gifalloc.c.o
/cmake-build-debug/CMakeFiles/GifEncoderDecoder.dir/GifDecoder.cpp.o
/cmake-build-debug/GifEncoderDecoder
/.idea/GifEncoderDecoder.iml
/lib/giflib_to_opencv.h
/cmake-build-debug/.cmake/api/v1/reply/index-2022-02-16T01-44-32-0863.json
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/CMakeFiles/GifEncoderDecoder.dir/main.cpp.o
/lib/Makefile.am
/lib/Makefile.in
/lib/Makefile.unx
/.idea/misc.xml
/.idea/modules.xml
/lib/openbsd-reallocarray.c
/lib/quantize.c
/cmake-build-debug/CMakeFiles/GifEncoderDecoder.dir/lib/quantize.c.o
/cmake-build-debug/CMakeFiles/rules.ninja
/cmake-build-debug/.cmake/api/v1/reply/target-GifEncoderDecoder-Debug-709af76de37a56db091e.json
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/test.gif
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-9050b2082b4fe5719297.json
/.idea/vcs.xml
